<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Sistema de Estudos - IFRN
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block css_extra %}
    {% endblock %}
</head>

<body>
    <header>
        {% block header %}
        <div id="div_logo"><img src="{{ url_for('static', filename='img/livro.png') }}" alt="Logo com um livro vermelho sobre um fundo branco" id="logo"></div>

        <div id="titulos"> 
            <p id="titulo">IFRN Campus Caicó</p>
            <p id="subtitulo">Sistema de auxílio aos estudos</p>
        </div>
        {% if user %}
        <form method="POST" action="{{ url_for('logout') }}" id="logout-form">
            <button type="submit">Sair</button>
        </form>
        {% endif %}
        {% endblock %}
    </header>

    <main>
         {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 Sistema de Estudos - IFRN. Todos os direitos reservados.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    {% block js_extra %}
    {% endblock %}
</body>
</html>