{% extends "base.html" %}

{% block title %}Dashboard - Sistema de Estudos{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}

<div class="container">
    <h1>Minhas Tarefas</h1>
<p>
    Sessão iniciada como: <strong>{{ user.nome }}</strong> ({{ user.curso }} - {{ user.periodo }})
</p>
<div id="button-tarefa">
    <a href="{{ url_for('adicionar_tarefa') }}">
        <button type="button">Nova Tarefa</button>
    </a>
    <form action="{{ url_for('dashboard') }}" method="get" class="form-busca">
        <input
            type="text"
            name="pesquisa"
            placeholder="Pesquisar tarefas..."
            value="{{ pesquisa }}"
        >
        <button type="submit">Buscar</button>
    </form>

</div>
</div>

<div class="container">
   {% if tarefas %}
        {% for tarefa in tarefas %}
            <div class="card">

                <div class="topo">
                    <h3>{{ tarefa.titulo }}</h3>
                    <span class="tag">{{ tarefa.disciplina }}</span>
                </div>

                <p>{{ tarefa.descricao }}</p>

                <p class="prazo">Prazo: {{ tarefa.data_entrega }}</p>

                <div class="acoes">
                    <a href="{{ url_for('editar', id=loop.index0) }}">Editar</a>
                    <a href="{{ url_for('excluir', id=loop.index0) }}">Excluir</a>
                </div>

            </div>
        {% endfor %}
   {% else %}

    <div id="sem_tarefa">
      <p>Nenhuma tarefa encontrada. Clique em <strong>"Nova Tarefa"</strong> para começar a organizar os seus estudos</p>
    </div>

{% endif %}
</div>
<form action="{{ url_for('logout') }}" method="POST">
    <button type="submit">Logout</button>
</form>

{% endblock %}
