{% extends "base.html" %}

{% block title %}Registro - Sistema de Estudos{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Registro</h2>

    <form method="POST" action="{{ url_for('registro') }}">
        <label for="username">Nome Completo:</label>
        <input type="text" id="username" name="username" class="input-padrao" required>

        <label for="email">Email Escolar:</label>
        <input type="email" id="email" name="email" class="input-padrao" required>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" class="input-padrao" required>

        <label for="curso">Curso:</label>
        <select id="curso" name="curso" required class="input-padrao">
            <option value="">Selecione um curso</option>
            <option value="informatica">Informática para Internet</option>
            <option value="vestuario">Vestuário</option>
            <option value="textil">Têxtil</option>
            <option value="eletrotecnica">Eletrotécnica</option>
        </select>

        <label for="periodo">Ano/Período:</label>
        <select id="periodo" name="periodo" class="input-padrao" required>
            <option value="">Selecione um período</option>
            <option value="1ano">1º Ano</option>
            <option value="2ano">2º Ano</option>
            <option value="3ano">3º Ano</option>
            <option value="4ano">4º Ano</option>
        </select>

        <button type="submit"  class="input-verde" >Registrar</button>
    </form>

    <p class="links"><a href="{{ url_for('login') }}">Já tem uma conta? <strong>Faça login</strong></a></p>
</div>
{% endblock %}